<footer class="footer bg-light p-5">
  <div class="container">
    <div class="row">

      <div class="col-sm">
        <h3 class="h4">Kitten Shop</h3>
        <p>La boutique des chats méga-pas-mignons</p>
      </div>

      <div class="col-sm">

      </div>

      <div class="col-sm">
        <div class="social_links d-flex justify-content-end">
          <a href="#" class="h1"><i class="fab fa-facebook mx-3"></i></a>
          <a href="#" class="h1"><i class="fab fa-twitter mx-3"></i></a>
          <a href="#" class="h1"><i class="fab fa-pinterest mx-3"></i></a>
        </div>
      </div>
      
    </div>
  </div>
</footer>
